@model DetailsViewModel





    <h1>@ViewData["Title"]</h1>
<div class="row Details">
    <div class="col-md-2">
        <h2>@Model.Nome</h2>
    </div>

    <div class="col-md-2">
        <h2>@Model.Cognome</h2>
    </div>

    <div class="col-md-2">
        <h2>@Model.DataNascita</h2>
    </div>

    <div class="col-md-2">
        <h2>@Model.Status</h2>
    </div>
    <div class="col-md-2">
        <h2>@Model.Età</h2>
    </div>
</div>

